@model ElizabethLibrary.Models.BookViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
<h4>Book Details</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayFor(model => model.Title)
    </dt>    
    <dt>        
        @Html.DisplayFor(model => model.author.FirstName)
        @Html.DisplayFor(model => model.author.LastName)
    </dt>
</dl>
</div>
<br />
<p>
    @Html.ActionLink("Back to List", "Books")
</p>
